body {
	background-color: #FFD39B
}
a {
	color: #8B4726;
	text-decoration: none;
}
a:hover {
	color:#ff6600;
	text-decoration: underline;
}
p {
	color: ;
}
.title {
	border:10px solid;
	width:600px;
 	height:100px;
	border-style: double;
	border-color: black;
	line-height: 1,5;
	text-shadow: 3px 2px grey;
	font-size: 400%;
	font-style: italic;
	font-family: "Rockwell";
	position: relative;
	top: 50px;
	}

.subtitle {

	border-style: solid;

	position: relative;
	top: 100px;

}

.lado1{
	font-family: "Rockwell";
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
	text-align: left;
	position: relative;
	top: 150px;
	left: 130px;
}
.lado2{
	font-family: "Rockwell";
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
	text-align: right;
	position: relative;
	right: 150px;
	top: 180px;

}
.side1{
	position: relative; left: 100px;
}
.side2{
	position: relative; right: -900px;
}
.a1{
	font-family: "Edwardian Script ITC";
	font-weight: bold;
	font-size: 300%;
	position: absolute;
	left: 450px;
	right:100px;
	top: 530px;

}
.a2{
	font-family: "Edwardian Script ITC";
	font-weight: bold;
	font-size: 300%;
	text-align: right;
	position: absolute;
	left: 200px;
	right:480px;
	top: 880px;

}
.a3{
	font-family: "Edwardian Script ITC";
	font-weight: bold;
	font-size: 300%;
	position: absolute;
	left: 450px;
	right:100px;
	top: 1130px;
}
.a4{
	font-family: "Edwardian Script ITC";
	font-weight: bold;
	font-size: 300%;
	text-align: right;
	position: absolute;
	left: 200px;
	right:480px;
	top: 1480px;
}	
.info1{
	position: relative;
	left: 150px;
	top: 125px;
}
.info2{
	position: relative;
	left: 400px;
	top: 160px;
}
.img1{
	position: absolute;
	top:10px;
	left: 90px;
	width: 200px;
	height: 200px;

}
.img2{
	position: absolute;
	top:10px;
	right: 90px;
	width: 200px;
	height: 200px;

}
.fim{
	font-family: "Rockwell";
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
	position: relative;
}
.endt{
	font-family: "Edwardian Script ITC";
	font-size: 250%;
	position: relative;
	
}
li {
	font-family: "Edwardian Script ITC";
	font-size: 200%;
	position: relative;

}
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	width: 	200px;
}
th{
	background-color: 	blue
}
#titulo {
	background-color: 	gray
}
.tabela {
	background-color: green
}
